main{
    width: 500px;
    border: solid #8a8a8a 1px;
    margin: 30px auto;
}
.page-title{
    color: #8a8a8a;
    text-align: center;
    font-size: 23px;
    margin-top: 40px; 
    margin-bottom: 40px;
}
.form-title{
    color: #8a8a8a;
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
}
label{
    color: #8a8a8a;
}
.login-form, .register-form{
    display: flex;
    justify-content: center;
    width : 500px;
}

.name, .mail, .pass, .mail_check{
    width: 300px;
    line-height: 3em;
    border: solid #8a8a8a 1px;
    margin-bottom: 50px;
}
.btn{
    text-align: center;
    width : 300px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 70px;
}
.login-btn, .register-btn{
    width: 150px;
    height: 50px;
    font-size: 17px;
    border: solid #8a8a8a 1px;
    color: #8a8a8a;
}
.login-btn:hover, .register-btn:hover{
    cursor: pointer;
}
.register, .login{
    display: flex;
    justify-content: center;
    height: 150px;
}
.register-link, .login-link{
    text-decoration: none;
    color: #8a8a8a;
}