main{
    width: 500px;
    border: solid #8a8a8a 1px;
    margin: 30px auto;
}
.page-title{
    color: #8a8a8a;
    text-align: center;
    font-size: 23px;
    margin-top: 40px; 
    margin-bottom: 40px;
}
.form-title, .account-comment, .possession-task{
    color: #8a8a8a;
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
}
label{
    color: #8a8a8a;
}
.login-form, .register-form, .account-info, .project-make{
    display: flex;
    justify-content: center;
    width : 500px;
}

.name, .mail, .pass, .mail_check, .comment, .task, .limit, .pj_name{
    width: 400px;
    line-height: 3em;
    border: solid #8a8a8a 2px;
    margin-bottom: 50px;
}
.pj_explain{
    border: #8a8a8a solid 2px;
}
.btn{
    text-align: center;
    width : 400px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 70px;
}
.login-btn, .register-btn{
    width: 150px;
    height: 50px;
    font-size: 17px;
    border: solid #8a8a8a 2px;
    color: #8a8a8a;
}
.login-btn:hover, .register-btn:hover{
    cursor: pointer;
}
.register, .login{
    display: flex;
    justify-content: center;
    height: 150px;
}
.register-link, .login-link, .dashboard-link, .pj_task-link{
    text-decoration: none;
    color: #8a8a8a;
}
.project-list{
    display: flex;
    border: solid #8a8a8a 2px;
    width : 400px;
    height: 100px;
    margin: 0 auto 20px auto;
}
.task-list{
    display: flex;
    border: solid #8a8a8a 2px;
    width : 400px;
    height: 100px;
    margin: 0 auto 0 auto
}
.project-name{
    border-right: solid #8a8a8a 2px;
    width: 250px;
    text-align: center;
    line-height: 100px;
    color: #8a8a8a;
}
.task-info{
    width: 230px;
    text-align: center;
    color: #8a8a8a;
    padding: 25px 0 25px 7px;
}
.task-limit{
    font-size: 12px;
}
.project-link, .task-link{
    background: #d8d8d8;
    width: 150px;
    color: #8a8a8a;
    text-align: center;
    padding-top: 35px;
}
.my-project{
    margin-bottom: 80px;
}
.account{
    margin-top: 70px;
}
.error-info, .run-info{
    font-weight: bold;
    display: flex;
    align-items: center;
}
.error-info:before, .error-info:after{
    border-top: 2px solid #ff0000;
    content: "";
    width: 1em;
}
.run-info:before, .run-info:after{
    border-top: 2px solid #8a8a8a;
    content: "";
    width: 1em;
}
.error-info:before{
    margin-right: 2px;
}
.error-info:after{
    margin-left: 2px;
}
.run-info:before{
    margin-right: 2px;
}
.run-info:after{
    margin-left: 2px;
}
.error-display{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
}
.task-label{
    display: flex;
}
.task-label{
    color: #8a8a8a;
    width: 400px;
    justify-content: space-between;
    margin: 10px auto;
}
.task-member{
    width: 120px;
    padding: 35px 0 35px 0;
    color: #8a8a8a;
}
.task-checkbox{
    width: 80px;
    border-left: solid #8a8a8a 2px;
    padding: 30px 0 30px 0;
}
.task-complete{
    border: solid #8a8a8a 2px;
}
.delete-btn{
    width: 400px;
    margin: 0 auto 20px auto;
    padding-right: 25px;
}
.task-delete{
    font-size: 12px;
    color: #8a8a8a;
    text-align: right;
}
.limit{
    color: #8a8a8a;
}
.member-select{
    border: #8a8a8a solid 2px;
    width: 204px;
    height: 50px;
    margin-bottom: 50px;
}
select{
    width: 200px;
    cursor: pointer;
    background: #fff;
    height: 3em;
    font-size: 15px;
    border-radius: 0px;
    border: none;
    color: #8a8a8a;
    margin-bottom: 50px;
}
.pj-url{
    color: #757575;
    border: #757575 solid 2px;
    width: 450px;
    padding: 10px;
    margin-bottom: 100px;
    font-size: 13px;
  }
  .page-link{
      text-align: center;
      margin-bottom: 100px;
  }


input[type = checkbox]{
    display: none;
}

.checkbox{
    box-sizing: border-box;
    cursor: pointer;
    display: inline-block;
    padding: 5px 30px;
    position: relative;
    width: auto;
}
.checkbox::before{
    background: #fff;
    border: 1px solid #757575;
    content: '';
    display: block;
    height: 30px;
    width: 30px;
    left: 19px;
    margin-top: -11px;
    position: absolute;
    top: 50%;
}

.checkbox::after {
    border-right: 3px solid #8a8a8a;
    border-bottom: 3px solid #8a8a8a;
    content: '';
    display: block;
    height: 30px;
    width: 17px;
    left: 25px;
    margin-top: -20px;
    opacity: 0;
    position: absolute;
    top: 50%;
    transform: rotate(45deg);
}
input[type=checkbox]:checked + .checkbox::after {
    opacity: 1;
}

