main{
    width: 500px;
    border: solid #8a8a8a 1px;
    margin: 30px auto;
}
.page-title{
    color: #8a8a8a;
    text-align: center;
    font-size: 23px;
    margin-top: 40px; 
    margin-bottom: 40px;
}
.form-title{
    color: #8a8a8a;
    text-align: center;
    font-size: 15px;
    margin-bottom: 40px;
}
label{
    color: #8a8a8a;
}
.login-form, .register-form, .account-info, .project-make{
    display: flex;
    justify-content: center;
    width : 500px;
}

.name, .mail, .pass, .mail_check, .comment{
    width: 400px;
    line-height: 3em;
    border: solid #8a8a8a 2px;
    margin-bottom: 50px;
}
.explain{
    border: #8a8a8a solid 2px;
}
.btn{
    text-align: center;
    width : 400px;
    height: 100px;
    margin-top: 50px;
    margin-bottom: 70px;
}
.login-btn, .register-btn{
    width: 150px;
    height: 50px;
    font-size: 17px;
    border: solid #8a8a8a 2px;
    color: #8a8a8a;
}
.login-btn:hover, .register-btn:hover{
    cursor: pointer;
}
.register, .login{
    display: flex;
    justify-content: center;
    height: 150px;
}
.register-link, .login-link{
    text-decoration: none;
    color: #8a8a8a;
}
.project-list{
    display: flex;
    border: solid #8a8a8a 2px;
    width : 400px;
    height: 100px;
    margin: 0 auto 20px auto;
}
.project-name{
    border-right: solid #8a8a8a 2px;
    width: 250px;
    text-align: center;
    line-height: 100px;
    color: #8a8a8a;
}
.project-link{
    background: #d8d8d8;
    width: 150px;
    text-align: center;
    line-height: 100px;
    color: #8a8a8a;
}
.account{
    margin-top: 70px;
}
